.admincontainer{
    margin-top: 5%;
    width: 100%;
    text-align: center;
}
.admincontainer h1{
    margin: auto;
}
.adminform{
    width: 35%;
    margin: auto;
}
.admindata_1{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.admindata_1 input{
    padding: 2%;
}
.admindata_2{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 2%;
}
.admindata_2 input{
    padding: 2%;
}
.adminbutton{
    background-color: gray;
    margin-top: 2%;
    color: white;
    border: none;
    width: 100%;
    padding: 3%;
    font-size: 20px;
    border-radius: 25px;
}
.adminloginsuccess{
    width: 35%;
    margin: auto;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 7px;
    background: lightgreen;
    color: green;
    padding: 1%;
    margin-bottom: 2%;
}
.notadmin{
    width: 35%;
    margin: auto;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 7px;
    background: lightpink;
    color: red;
    padding: 1%;
    margin-bottom: 2%;    
}
.adminloginfailed{
    width: 35%;
    margin: auto;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 7px;
    background: lightpink;
    color: red;
    padding: 1%;
    margin-bottom: 2%;
}
@media only screen and (max-width: 700px){
    .adminform{
        width: 75%;
    }
}