.Admin{
    width: 100%;
    position: relative;
}
.Adminleft{
    width: 18%;
    position: static;
    left: 0;
}
.AdminRight{
    width: 81%;
    margin-top: 2%;
    position: absolute;
    right: 0;
    top: 0;
}
.AdminRightBox{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    justify-content: space-around;
}
.AdminRightBoxOrder{
    width: 25%;
    font-size: xx-large;
    padding: 3%;
    color: white;
    background-color: rgb(216, 0, 0);
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
}
.AdminRightBoxUser{
    width: 25%;
    font-size: xx-large;
    padding: 3%;
    color: white;
    background-color: rgb(0, 174, 61);
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
}
.AdminRightBoxAdmin{
    width: 25%;
    font-size: xx-large;
    padding: 3%;
    color: white;
    background-color: rgb(70, 70, 201);
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
}