.dashboardmain{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
}
.dashboardleft{
    width: 18%;
    position: static;
    left: 0;
}
.dashboardRight{
    width: 81%;
    margin: auto;
    position: static;
    right: 0;
    top: 0;
    text-align: center;
}
.dashboardform{
    width: 50%;
    margin: auto;
}
.labels{
    display: flex;
    flex-direction: column;
}
.inserts{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: left;
}
.inserts input{
    padding: 3%;
    width: 90%;
}
.labels{
    width: 100%;
}
.insertbtn{
    width: 100%;
    padding: 2%;
    font-size: large;
    border-radius: 25px;
    border: 1px solid lightgray;
}
.dashboardbtn{
    display: flex;
    flex-direction: row;
    width: 25%;
    margin: auto;
    justify-content: space-evenly;
}
.dashboardbtn button{
    padding: 5%;
    border: 1px solid lightgray;
    border-radius: 25px;
}
.dashboardbtn button:hover{
    background-color: gray;
    color: white;
}
.tableinsert{
    width: 90%;
    margin: auto;
    text-align: center;
    height: 100%;
    overflow-y: auto;
    margin-top: 2%;
    border-collapse: collapse;
}
.tableinsert th{
    border: 1px solid black;
}
.tableinsert td{
    border: 1px solid black;
}
.insertbtn:hover{
    background-color: gray;
    color: white;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.btnEdit{
    background-color: rgb(21, 127, 62);
    border: none;
    padding: 4%;
    color: white;
    font-size: larger;
    border-radius: 5px;
}
.btnDelete{
    background-color: rgb(189, 18, 60);
    border: none;
    color: white;
    padding: 4%;
    font-size: larger;
    border-radius: 5px;
}