.Interriormain{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}
.Interriormain button
{
  margin-right: 10%;
 
    height: 15%;
    width: 20%;
    margin-top: 150px;
    background-color: rgb(49,54,57);
    color: white;
}
.interriorclass img{
    display: flex;
    flex-direction: row;
    margin: auto;
}
.interriorclass img
{
    width: 45px;
    height: 45px;
    border-radius:50% ;
}
.interriorclass p{
    margin-left: 2%;
   
}