.lightwheel{
  width: 100%;
}
.lightline{
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
}
.lightclass{
  text-align: center;
}
.lightclass img{
  width:60px;
  height:60px;
  border-radius: 50%;
}