.container_modify{
    width : 100%;
}
.modifymain{
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: row;
}
.modifyleft{
    width : 75%;
    text-align:center;
}
.breadcrumb{
    background-color: lightgrey;
    font-size: 25px;
    font-weight: bold;
}
.breadcrumb p{
    margin-left: 2.5%;
    padding: 1%;
}
.buttonsdiv{
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}
.sav{
    background-color: rgb(49,54,57);
    color: white;
    font-size: 15px;
    padding: 1%;
    margin-bottom: 2%;
}
.back{
    background-color: rgb(49,54,57);
    color: white;
    font-size: 15px;
    padding: 1%;
    margin-bottom: 2%;
}
.modifyright{
    width: 25%;
    border-left: 1px solid lightgray;
    padding: 2%;
}