.mainpaint{
    width: 100%;
    display: flex;
    flex-direction: row;
   margin-left: 70px;
   
   
}
.paintclass img{
    display: flex;
    flex-direction: row;
    margin: auto;
    
    
}
.paintclass{
    padding: 3%;
}
.paintclass img
{
    width: 45px;
    height: 45px;
    border-radius:50% ;
    margin-left: 10%;
    
    
}
.paintclass p{
    margin-left: 2%;
    padding-left: 10%;
}