.mainpaint{
    width: 100%;
    display: flex;
    flex-direction: row;
   margin-left: 70px;
   
   
}
.mainpaint h4{
    margin-top: 100px;
    margin-left: -50px;
    padding-right: 5%;
}
.mainpaint button
{
    height: 15%;
    width: 15%;
    margin-top: 100px;
    background-color: rgb(49,54,57);
    color: white;
}

.paintclass img{
    display: flex;
    flex-direction: row;
    margin: auto;
    
    
}
.paintclass{
    padding: 3%;
}
.paintclass img
{
    width: 45px;
    height: 45px;
    border-radius:50% ;
    margin-left: 10%;
    
    
}
.paintclass p{
    margin-left: 2%;
    padding-left: 10%;
}
