.shopmain{
    width: 80%;
    margin: auto;
    border : 1px solid grey;
    display: flex;
    flex-direction: row;
}
.shopimage{
    width:80%;
}
.mySwiper{
    width: 100%;
    height: 100%;
}
.swiperslides{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiperslides img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.shoppay{
    width: 20%;
    padding: 2%;
    background-color: lightgray;
}
.shopbtngroup{
    margin: auto;
    margin-top: 2%;
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    background-color: lightgrey;
    padding: 2%;
    border-radius:5px ;
}
.shopbtngroup button{
    padding: 5%;
    border-radius: 5px;
    border: 1px solid gray;
    width: 100%;
    font-size: larger;
}
.shopbtngroup button:hover{
    background-color: white;
}
.shoppayment{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2%;
    line-height: 0.005px;
}
.shoppayprice{
    font-weight: lighter;
}
.shoppaylast{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2%;
}
.shopend{
    width: 100%;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: larger;
    padding: 4%;
}
.shopend:hover{
    background-color: white;
}