.mainwheel{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.wheelclass img{
    display: flex;
    flex-direction: row;
    margin: auto;
}
.wheelclass img
{
    width: 45px;
    height: 45px;
    border-radius:50% ;
}
.wheelclass p{
    margin-left: 2%;
   
}